* {
  font-family: 'Open Sans', sans-serif;
  /* TODO figure out why this makes everything messed up */
  /* min-width: 360px; */
}

/********** Nav **********/
nav {
  background-color: #462255;
  color: #F2F4F3;
  padding: 10px 30px 40px 30px;
  /* min-width: 360px; */
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-item {
  padding-left: 8px;
}

.fa-user,
.fa-caret-down {
  font-size: 1.5rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  min-width: 30vw;
  align-items: center;
  font-size: 1.25rem;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-text {
  padding: 0 15px;
}

.dog,
.horse {
  color: #706F6F;
}

.fa-dog,
.fa-horse {
  color: #FC7753;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.logo-text {
  font-family: 'Bangers', cursive;
  padding-right: 0.5rem;
}

/********** Main **********/

main {
  /* min-width: 360px; */
}